.my-font {
	font-size: 18px
}
/*.my-scroll {*/
/*	width:900px;*/
/*}*/
.my-text {
    width:300px
}
.table{
    table-layout: fixed;
}
.thead{
    width:1200px;
}
.my-table {
    width:1200px;
}
.my-div {
    width: 400px;
    height: 100%;
    overflow-x:auto;
}
#footer {
    height: 40px;
    line-height: 20px;
    /*position: fixed;*/
    bottom: 5px;
    width: 100%;
    text-align: center;
    color: #000000;
    font-family: Arial;
    font-size: 12px;
    letter-spacing: 1px;
}