.my-windows {
    overflow-x: auto;
}
.my-main-content {
    width: 800px;
    min-height: 560px;
}
.my-font {
    font-size: 11px;
}

.my-div {
    /* width: 100%; */
    min-height: 400px;
    height: 400px;
    overflow-x: auto;
    margin-bottom: 45px;
}

.fund-net-diagram-div {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 540px;
    height: 350px;
}

.my-input-group {
    width: 800px;
    height: 30px;
    bottom: 5px;
    margin-top: 10px;
}

.my-form-input {
    height: 30px;
}

.stock-large-market {
    text-align: center;
    width: 800px;
}

.footer {
    height: 50px;
    line-height: 20px;
    position: fixed;
    bottom: 0;
    width: 800px;
    text-align: center;
    color: #000000;
    font-family: Arial;
    font-size: 12px;
    letter-spacing: 1px;
    background-color: white;
}

.my-header {
    height: 80px;
    /* line-height: 90px; */
    position: fixed;
    top: 0;
    width: 800px;
    text-align: center;
    color: #000000;
    font-family: Arial;
    font-size: 12px;
    letter-spacing: 1px;
    background-color: white;
    z-index: 999;
}

.my-body {
    margin-top: 90px;
    margin-bottom: 55px;
}

.my-table-tbody-font {
    font-weight: bolder;
    font-size: small;
}

/* 字体大小类 */
.my-table-font-small,
.setting-description-text.my-table-font-small {
    font-size: x-small;
}

.my-table-font-normal,
.setting-description-text.my-table-font-normal {
    font-size: small;
}

.my-table-font-large,
.setting-description-text.my-table-font-large {
    font-size: medium;
}

.my-table-font-xlarge,
.setting-description-text.my-table-font-xlarge {
    font-size: large;
}

.no-wrap {
    white-space: nowrap;
}

/* div 居中显示 */
.my-center {
    display: flex;
}

.my-center-child {
    margin: auto;
}

.my-monitor-text {
    text-align: center;
    font-weight: bolder;
    color: red;
    width: 800px;
    margin-top: 3px;
}

/* 自己修改的样式 */
.btn-my-style {
    color:#fff;background-color:#0eb0c9;
    border-color:#0eb0c9
}
.btn-my-style:hover{color:#fff;background-color:#218838;border-color:#1e7e34}
.btn-my-style.focus,
.btn-my-style:focus{box-shadow:0 0 0 .2rem rgba(40,167,69,.5)}
.btn-my-style.disabled,
.btn-my-style:disabled{color:#fff;background-color:#0eb0c9;border-color:#0eb0c9}
.btn-my-style:not(:disabled):not(.disabled).active,
.btn-my-style:not(:disabled):not(.disabled):active,.show>
.btn-my-style.dropdown-toggle{color:#fff;background-color:#1e7e34;border-color:#1c7430}

.my-alert {
    width: 800px;
    margin-top: 3px;
}

.my-large-alert {
    width: 800px;
    text-align: center;
    font-size: 16px;
    margin-top: 3px;
    display: none;
}

.you {
    margin-left: 10px;
}

.setting-modal-style {
    height: 400px;
    overflow-y: auto;
}

.stock-fund-name-and-code {
    white-space: pre;
}

input[type="checkbox"] {
    vertical-align: middle;
    width: 40px;
}

.stock-large-market-container {
    display: flex;
    justify-content: space-between;
    height: 50px;
}

.stock-large-market-box {
    font-size:11px;
    font-weight:600;
    margin-top: 5px;
    width: 25%;
    /* border: 1px solid #ccc; */
    text-align: center;
    transition: opacity 0.3s ease, border 0.3s ease;
}

.stock-large-market-box[draggable="true"] {
    cursor: move;
}

.stock-large-market-box[draggable="true"]:hover {
    background-color: rgba(0, 123, 255, 0.05);
}

.stock-large-market-box p {
    line-height: 0.5; /* 调整行高，控制换行高度 */
}

.volumn-echart {
    width: 540px;
    height: 80px;
    margin-right:10px;
}

.am-input-sms {
    height: 23px;
    width: 150px;
}

.am-input-sm {
    height: 23px;
    width: 250px;
}

.zuo {
    margin-right: auto; /* 将.zuo推向左边 */
}
  
.you {
    margin-left: auto; /* 将.you推向右边 */
}

.zou-you-parent {
    display: flex; /* 启用Flexbox布局 */
    align-items: center; /* 垂直居中对齐 */
    justify-content: space-between; /* 元素之间的间距 */
}

.my-echart-new {
    margin-top:10px;
    margin-bottom:0px;
    width:540px;
    height:350px;
    margin-right:10px;
}

.scroll-button{
    writing-mode: vertical-lr; /* 垂直排列，从左到右 */
    text-orientation: upright; /* 保持字符直立 */
    position: fixed;
    right: 20px;
    top: 90%;
    /* transform: translateY(-90%); */
    width: 30px; /* 设置按钮的宽度 */
    height: 30px; /* 设置按钮的高度 */
    padding: 0; /* 移除内边距，确保按钮是圆形 */
    background-color: rgba(0, 123, 255, 0.4);
    color: white;
    border: none;
    border-radius: 50%; /* 设置圆形 */
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, opacity 0.3s;
    pointer-events: auto;
    display: flex;
    justify-content: center; /* 使内容居中 */
    align-items: center; /* 使内容居中 */
}

.scroll-button:hover{
    background-color:#0056b3
}

.scroll-input {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    top: 85%;
    width: 100px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: rgba(255, 255, 255, 0.1); /* 输入框透明背景 */
    outline: none;
}

.highlight {
    background-color: #e0f7fa !important; /* 高亮背景色 */
    transition: background-color 0.5s ease;
}

.advice-list-ul {
  height: 350px;
  overflow-y: scroll;
}

.batch-edit-input {
    width: 70px;
    padding: 2px;
}