.my-windows {
    overflow-x: auto;
}
.my-main-content {
    width: 800px;
    min-height: 560px;
}
.my-font {
    font-size: 11px;
}

.my-div {
    /* width: 100%; */
    min-height: 400px;
    height: 400px;
    overflow-x: auto;
    margin-bottom: 45px;
}

.fund-net-diagram-div {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 540px;
    height: 350px;
}

.my-input-group {
    width: 800px;
    height: 30px;
    bottom: 5px;
    margin-top: 10px;
}

.my-form-input {
    height: 30px;
}

.stock-large-market {
    text-align: center;
    width: 800px;
}

.footer {
    height: 50px;
    line-height: 20px;
    position: fixed;
    bottom: 0;
    width: 800px;
    text-align: center;
    color: #000000;
    font-family: Arial;
    font-size: 12px;
    letter-spacing: 1px;
    background-color: white;
}

.my-header {
    height: 80px;
    /* line-height: 90px; */
    position: fixed;
    top: 0;
    width: 800px;
    text-align: center;
    color: #000000;
    font-family: Arial;
    font-size: 12px;
    letter-spacing: 1px;
    background-color: white;
    z-index: 999;
}

.my-body {
    margin-top: 90px;
    margin-bottom: 55px;
}

.my-table-tbody-font {
    font-weight: bolder;
    font-size: small;
}

.no-wrap {
    white-space: nowrap;
}

/* div 居中显示 */
.my-center {
    display: flex;
}

.my-center-child {
    margin: auto;
}

.my-monitor-text {
    text-align: center;
    font-weight: bolder;
    color: red;
    width: 800px;
    margin-top: 3px;
}

/* 自己修改的样式 */
.btn-my-style {
    color:#fff;background-color:#0eb0c9;
    border-color:#0eb0c9
}
.btn-my-style:hover{color:#fff;background-color:#218838;border-color:#1e7e34}
.btn-my-style.focus,
.btn-my-style:focus{box-shadow:0 0 0 .2rem rgba(40,167,69,.5)}
.btn-my-style.disabled,
.btn-my-style:disabled{color:#fff;background-color:#0eb0c9;border-color:#0eb0c9}
.btn-my-style:not(:disabled):not(.disabled).active,
.btn-my-style:not(:disabled):not(.disabled):active,.show>
.btn-my-style.dropdown-toggle{color:#fff;background-color:#1e7e34;border-color:#1c7430}

.my-alert {
    width: 800px;
    margin-top: 3px;
}

.my-large-alert {
    width: 800px;
    text-align: center;
    font-size: 16px;
    margin-top: 3px;
    display: none;
}

.you {
    margin-left: 10px;
}

.setting-modal-style {
    height: 400px;
    overflow-y: auto;
}

.stock-fund-name-and-code {
    white-space: pre;
}

input[type="checkbox"] {
    vertical-align: middle;
    width: 40px;
}

.stock-large-market-container {
    display: flex;
    justify-content: space-between;
    height: 50px;
}

.stock-large-market-box {
    font-size:11px;
    font-weight:600;
    margin-top: 5px;
    width: 25%;
    /* border: 1px solid #ccc; */
    text-align: center;
}

.stock-large-market-box p {
    line-height: 0.5; /* 调整行高，控制换行高度 */
}

.volumn-echart {
    margin-top: 0px;
    width: 540px;
    height: 80px;
    margin-right:10px;
}