.my-font {
	font-size: 10px
}
.my-scroll {
	width:900px;
	overflow-x:auto;
}
.my-text {
    width:400px;
}
.my-div {
    width: 970px;
    height: 100%;
    /*overflow-x:auto;*/
    margin-bottom: 5px;
}
.my-input-group {
    width: 800px;
    height: 30px;
    bottom: 5px;
}
.my-form-input {
    height: 30px;
}
.stock-large-market{
    text-align: center;
    width: 800px;
}
#footer {
    height: 40px;
    line-height: 40px;
    position: fixed;
    bottom: 0;
    width: 800px;
    text-align: center;
    color: #000000;
    font-family: Arial;
    font-size: 12px;
    letter-spacing: 1px;
    background-color: white;
}
.my-table-tbody-font{
    font-weight: bolder;
    font-size: small;
}
.no-wrap {
    white-space: nowrap;
}